<Parameters>
    <AceptenceParameters>
        <AcceptenceParameter name="TokenSplitterEffectivnese">80</AcceptenceParameter>
        <AcceptenceParameter name="SentanceSplitterEffectivness">80</AcceptenceParameter>
    </AceptenceParameters>
    <Paths>
        <RU>
            <Path name="PathToStatisticFolder">texts/testData/RU/statistic</Path>
            <Path name="PathToStatisticResultFile">texts/testData/RU/Results.csv</Path>
        </RU>
    </Paths>
</Parameters>
